<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluenarwhal.demonssoulsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemonsSoulsApp">
        <activity android:name="com.bluenarwhal.demonssoulsapp.KingOfRingsActivity"></activity>
        <activity android:name="com.bluenarwhal.demonssoulsapp.SaintsTrophyActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.SagesTrophyActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.LegacyOfTheKingsActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.WitchInTheTowerActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.OneOfTheFewActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RoadToPossibilitesActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.WorthyOfTheSwordActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.UmbasaActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.ADashOfSageActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.SeekestSoulPowerActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.MayYouBeUnharmedActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.OneShallStandActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.NotFooledActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.TimeForRollingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FistsOfLegendActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.BrotherInArmsActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.OneShallFallActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.UnwelcomeGuestActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.ReturnToFormActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RoadmapActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.TrophiesActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.StormKingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.PhalanxActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.PenetratorActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.OldMonkActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.TowerKnightActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.OldHeroActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.MaidenAstraeaActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.ManeaterActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.LeechmongerActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.OldKingAllantActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FoolsIdolActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FlamelurkerActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.DragonOfGodActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.DirtyColossusActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.ArmorSpiderActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.AdjudicatorActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RegeneratorsRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.MastersRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfUnevenScalesActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.SoddenRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.ProvidentialRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfLongevityActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.ThiefRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RoninsRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfTheAccursedActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfSincerePrayerActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfPoisonResistance" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfMagicalSharpnessActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfMagicalNatureActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfMagicalDullnessActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfHerculeanStrengthActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfGreatStrengthActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FlameResistanceRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.GashResistanceRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.PlagueResistanceRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfDevoutPrayerActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RingOfAvariceActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.GraverobbersRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FriendsRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FragrantRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FoesRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.EternalWarriorsRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.DullRatsRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.ClingRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.CleverRatsRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.CatRingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.HandsOfGodActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.SecondChanceActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.ResurrectionActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RegenerationActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.RecoveryActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.HiddenSoulActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.HealActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.GodsWrathActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.EvacuateActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.CureActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.BanishActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.AntiMagicFieldActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.AntidoteActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.WaterVeilActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.WardingActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.SoulThirstActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.SoulsuckerActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.SoulRayActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.SoulArrowActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.ReliefActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.ProtectionActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.PoisonCloudActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.LightWeaponActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.IgniteActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.HomingSoulArrowActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FlameTossActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FirestormActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FireSprayActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FireballActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.FamiliarsPrankActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.EnchantWeaponActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.DeathCloudActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.CurseWeaponActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.CloakActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.AcidCloudActivity" />
        <activity android:name="com.bluenarwhal.demonssoulsapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>